<h1 class="container p-3 mb-2 bg-light text-dark">Stupid coach</h1>

<form class="container p-3 mb-2 bg-light text-dark" action="answer" data-turbo="false">
  <p for="question">Ask your coach anything!</p>
  <input class="d-block p-2 mt-3" type="text" name="question">
  <input type="submit" class="btn btn-primary mt-3" value="Ask!">
</form>
